
@{
    ViewData["Title"] = "OrderDetail";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}

<hr />

<h1 class="text-center">Order Details</h1>
<hr />

<form method="post">
    <div>
    </div>

</form>