@using ECommerce.Models

@model List<Order>

@{
    ViewData["Title"] = "viewOrder";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
<hr />
<h1 class="text-center">All Orders</h1>
<hr />

@{
    int id = (int)Context.Session.GetInt32("customerId") ;
}

<table class="table table-info table-bordered text-center table-striped">
   
</table>

