@using ECommerce.Models

@model List<Order>

@{
    ViewData["Title"] = "viewOrder";
    Layout = "~/Views/Shared/_mainLayout.cshtml";
}
<hr />
<h1 class="text-center">All Orders</h1>
<hr />

@{
    int? id = Context.Session.GetInt32("customerId") , counter = 1 ;
}

<table class="table table-info table-bordered text-center table-striped">
   <tr>
       <th>Sequance</th>
       <th>Order Id</th>
       <th>Product Name</th>
       <th>Product Price</th>
       <th>Sub Price </th>
       <th>Quantity </th>
       <th>Total Price </th>

   </tr>
</table>

